* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2f6ed3;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

section {
    background-image: linear-gradient(180deg, #2f6ed3 5%, #5095e4 20%, #5095e4 60%, #2f6ed3 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}



.wrapper {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 30px;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.input-wrapper {
    width: 100%;
}

.input-wrapper input {
    width: 300px;
    height: 50px;
    padding: 0 0 0 20px;
    border-radius: 6px;
    border: none;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.input-wrapper button {
    height: 50px;
    padding: 0 30px;
    border: none;
    transition: all 0.3s ease;
    background: rgba(101, 62, 190, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.input-wrapper button:hover {
    background: rgba(68, 0, 228, 0.76);
    box-shadow: 0 8px 32px 0 rgba(68, 0, 228, 0.37);
    color: white;
}


ul {
    margin-top: 40px;
    border-radius: 6px;
    list-style: none;
    padding: 20px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

ul li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

ul li:last-child {
    margin-bottom: 0;
}

li input {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: none;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
}



li label {
    font-size: 18px;
}

input[type=checkbox]:checked+label {
    text-decoration: line-through;
}

li button {
    height: 50px;
    padding: 0 30px;
    border: none;
    transition: all 0.3s ease;
    background: rgba(101, 62, 190, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

li button:hover {
    background: rgba(68, 0, 228, 0.76);
    box-shadow: 0 8px 32px 0 rgba(68, 0, 228, 0.37);
    color: white;
}

.done {
    text-decoration: line-through;
}